/*================ FONTS ==================*/
@font-face {
  font-family: 'Nashville';
  src:url('../fonts/Nashville.ttf.woff') format('woff'),
      url('../fonts/Nashville.ttf.svg#Nashville') format('svg'),
      url('../fonts/Nashville.ttf.eot'),
      url('../fonts/Nashville.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaLight';
  src:url('../fonts/helvetica_light.woff') format('woff'),
      url('../fonts/helvetica_light.svg') format('svg'),
      url('../fonts/helvetica_light.eot');
  font-weight: normal;
  font-style: normal;
}
/*================ FONTS ==================*/

#logo-lettering {
  margin-top: 23px;
  margin-bottom: 17px;
  font-family: "Nashville";
  font-size: 30px;
}

#top-bar {
  box-shadow: 0px 1px 5px 0px #F00;
  background: #FFF !important;
}

#top-navigation {
  margin-top: 0px !important;
}

#top-navigation li.active a, #top-navigation li:hover a {
  color: #F00;
  font-family: "Nashville";
  font-size: 30px;
  margin-top: 8px;
}

#top-navigation li:not(active) a {
  color: #808080;
  font-family: "HelveticaLight";
  font-size: 15px;
  margin-top: 18px;
}

#contact-info {
  font-family: "HelveticaLight" !important;
  font-weight: normal;
}

#project-header {
  background: #FFF !important;
}

#project-header img {
  max-height: 720px;
  max-width: 1000px;
  margin-top: 50px !important;
}

.work-title {
  color: #F00;
  font-family: "HelveticaLight";
  font-size: 1em;
}

.work-description {
  font-family: "HelveticaLight";
}